.example-link {
  color: var(--example-link-color, blue);
  text-decoration: none;
}

.example-link__text {
  margin-inline-start: 1ch;
}

.example-link:hover .example-link__text {
  border-bottom: 1px solid currentColor;
}
