# See: https://nldesignsystem.nl/codeowners

* @nl-design-system/kernteam-committer

# Protect this file itself (order matters, keep this line last):
.github/CODEOWNERS @nl-design-system/kernteam-admin
