.rhc-theme {
  /* Header */
  --utrecht-page-header-content-padding-block-start: var(--basis-size-sm);
  --utrecht-page-header-content-padding-inline: var(--basis-size-2xs);
}

.rhc-theme .utrecht-page-footer {
  --ams-link-list-link-color: var(--basis-color-accent-1-color-document);
  --ams-link-list-link-hover-color: var(--basis-color-accent-1-color-hover);
}
