.example-form-page {
  display: flex;
  flex-direction: column;
  gap: var(--basis-space-block-xl);
  padding-block: var(--basis-space-block-2xl);
  padding-inline: var(--basis-space-inline-xl);
}

.example-form-page__fields {
  display: flex;
  flex-direction: column;
  gap: var(--basis-space-block-2xl);
}

.example-form-page__option {
  align-items: center;
  display: flex;
  gap: var(--basis-space-inline-sm);
}
